body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5.0em;
    color: rgb(65,75,86);
    text-align: center;
}

h2 {
     font-family: 'Times New Roman', Times, serif;
     font-size: 2.0em;
     font-style: italic;
     color: darkolivegreen;
     text-align: center;
     line-height: normal;
}

nav {
    color: black;
}

img {
    display: flex;
    padding: 20px;
    margin: 0px 20px 5px 0px; 
}

a {
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 22px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
.row {
    display: flex;
}

.footer {
    background-color: rgb(65,75,86);
    padding: 90px;
    margin-top: 100px;
    border-top: 10px solid currentColor;
}

.footer-nav {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.footer-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: rgba(250,250,250,1);
    margin-bottom: 20px;
}

h3 {
    color: rgba(250,250,250,.75);
    text-align: center;
    text-transform: uppercase;
} 

.icon {
    padding-left: 16em;
}

.footer-text {
    text-align: center;
    color: rgba(250,250,250,.75);
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}