header {
    background-color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5.0em;
    color: rgb(65,75,86);
    text-align: center;
}

body {
    background-image: url(../images/background.jpg);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    color: white;
    font-size: 3.0em;
    font-style: oblique;
}

.column {
    font-size: 1.7em;
    background-color: antiquewhite;
    text-align: center;
    font-style: inherit;
}

p {
    font-size: 1.0em;
    font-style: italic;
    color:black;
    background-color:antiquewhite;
}

.container {
    padding-left: 18em;
}

.footer-text {
    font-size: 1em;
    font-style: normal;
    text-align: center;
    color: white;
    background-image: url(../images/background.jpg);
}